
<div class = 'logo-div'>
    <img id='logo' src='/images/logoario.png' alt='travelly-logo'>
    
</div>

<section class = 'main-header'>
<div>
   <div class = 'catch-phrase' >
    <h3 class='catch-phrase' >Don't put off until tomorrow, what you can plan today.</h3>
    </div>
<div class = 'features'>
    <div class = 'feature'>
        <img class = 'icon' src='/images/pin-logo.svg'>
        <p class='feature-description'>Pin your favorite location.</p>
    </div>

    <div class = 'feature'>
        <img class = 'icon' src='/images/search-logo.svg'>
        <p class='feature-description'>Search for anything, anywhere.</p>
    </div>

    <div class = 'feature'>
        <img class = 'icon' src='/images/plan-logo.svg'>
        <p class='feature-description'>Plan your trip to each detail.</p>
    </div>
</div>
</div>
</section>

<div class = 'start-button'>    
<a class="start-planning-button" href="/auth">
	<span class="start-planning-button-icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
	<span class="start-planning-button-text">Start planning!</span>
</a>
</div>

<hr class = 'break-line'>

<div class='location-ball'>
    <div id = 'europe'>
         <p ><a class = 'countries' href='/auth'>Europe</a></p>
    </div>
    <div id = 'asia'>
         <p ><a class = 'countries' href='/auth'>Asia</a></p>
    </div>
    <div id = 'africa'>
         <p ><a class = 'countries' href='/auth'>Africa</a></p>
    </div>

    <div id = 'namerica'>
         <p ><a class = 'countries' href='/auth'>North America</a></p>
    </div>
    <div id = 'samerica'>
         <p ><a class = 'countries' href='/auth'>South America</a></p>
    </div>
    <div id = 'australia'>
         <p ><a class = 'countries' href='/auth'>Australia</a></p>
    </div>    
</div>