<div class = 'logo-div'>
    <img id='logo' src='/images/logoario.png' alt='travelly-logo'>
    
</div>

<div class = 'catch-phrase' >
    <h3 >Don't put off until tomorrow, what you can plan today.</h3>
</div>

<div class = 'main-header'>
    
    <div class = 'features'>
        <img class = 'icon' src='/images/pin-logo.svg'>
        <p>Pin your favorite location.</p>
    </div>

    <div class = 'features'>
        <img class = 'icon' src='/images/search-logo.svg'>
        <p>Search for anything, anywhere.</p>
    </div>

    <div class = 'features'>
        <img class = 'icon' src='/images/plan-logo.svg'>
        <p>Plan your trip to each detail.</p>
    </div>
</div>


<div class = 'start-button'>
    <button class='start-planning-button'><a href='/auth'>Start Planning</a></button>
</div>
<hr class = 'break-line'>


<div class='location-ball'>
    <div id = 'europe'>
         <p class = 'countries'><a href='/auth'>Europe</a></p>
    </div>
    <div id = 'asia'>
         <p class = 'countries'><a href='/auth'>Asia</a></p>
    </div>
    <div id = 'africa'>
         <p class = 'countries'><a href='/auth'>Africa</a></p>
    </div>
</div>
<div class='location-ball'>
    <div id = 'namerica'>
         <p class = 'countries'><a href='/auth'>North America</a></p>
    </div>
    <div id = 'samerica'>
         <p class = 'countries'><a href='/auth'>South America</a></p>
    </div>
    <div id = 'australia'>
         <p class = 'countries'><a href='/auth'>Australia</a></p>
    </div>    
</div>