<img src='/images/logoario.png' alt='travelly-logo'>

{{!-- <h1>{{title}} 🚀</h1> --}}
<div>
    <h3>Don't put off until tomorrow, what you can plan today.</h3>

    <div>
        <img src='/images/pin-logo.svg'>
        <p>Pin your favorite location.</p>
    </div>

    <div>
        <img src='/images/search-logo.svg'>
        <p>Search for anything, anywhere.</p>
    </div>

    <div>
        <img src='/images/plan-logo.svg'>
        <p>Plan your trip to each detail.</p>
    </div>
</div>


<div>
    <h2><a href='/auth'>Start Planning</a></h2>
</div>


<div>
    <div>
         <p><a href='/auth'>Europe</a></p>
    </div>
    <div>
         <p><a href='/auth'>Asia</a></p>
    </div>
    <div>
         <p><a href='/auth'>Africa</a></p>
    </div>
    <div>
         <p><a href='/auth'>North America</a></p>
    </div>
    <div>
         <p><a href='/auth'>South America</a></p>
    </div>
    <div>
         <p><a href='/auth'>Australia</a></p>
    </div>    
</div>