    {{!-- <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

    <div>
         <img src='/images/logoario.png' alt='travelly-logo'>
    </div>

    <section
      class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark cover ov-hidden"
      style="background-size: cover; min-height: 75vh; background-image: url(&quot;https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1980&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=c0d43804e2c7c93143fe8ff65398c8e9&quot;);">
      <div class="container-fluid zindex-1">
        <div class="row align-items-center justify-content-center  text-center">
          <div class="col-12 col-md-6  ">
            <h1 class=" text-light   mb-2 mt-5"><strong>Nice Heading Goes Here
              </strong> </h1>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-5 pb-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 text-center">
            <div class="row justify-content-center pb-4">
              <div class="col-4 col-sm-3 col-md-2">
                <img alt="image" class="rounded-circle img-fluid"
                  src=" https://dummyimage.com/80x80/5fa9f8/efefef">
              </div>
            </div>
            <p class="text-h3">Fusce dapibus, tellus ac cursus commodo, tortor
              mauris condimentum nibh, ut fermentum massa justo sit amet risus.
              Separated they live in Bookmarksgrove right at the coast of the
              Semantics, a large language ocean.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-5 pb-5">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-3 col-6">
            <div class="counter card card-body bg-light">
              <i class="fa fa-code fa-4x text-primary my-3"></i>
              <h2 class="timer count-title count-number mb-1" data-to="100,000"
                data-speed="1500">100,000</h2>
              <p class="count-text mt-0">Lines of code</p>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="counter card card-body bg-light">
              <i class="fa fa-coffee fa-4x text-primary  my-3"></i>
              <h2 class="timer count-title count-number mb-1" data-to="1700"
                data-speed="1500">1,700</h2>
              <p class="count-text mt-0">Happy Clients</p>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="counter card card-body bg-light">
              <i class="far fa-gem fa-4x text-primary  my-3"></i>
              <h2 class="timer count-title count-number mb-1" data-to="17,900"
                data-speed="1500">17,900</h2>
              <p class="count-text mt-0">Projects Completed</p>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="counter card card-body bg-light">
              <i class="fa fa-bug fa-4x text-primary  my-3"></i>
              <h2 class="timer count-title count-number mb-1" data-to="2357"
                data-speed="1500">2357</h2>
              <p class="count-text mt-0">Bugs fixed</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-3 pb-3">
      <div class="container">
        <div class="row row-grid">
          <div class="col-xs-6 col-md-3 my-1">
            <img src=" https://dummyimage.com/400x300/5fa9f8/ffffff" alt=""
              class="img-fluid">
          </div>
          <div class="col-xs-6 col-md-3 my-1">
            <img src=" https://dummyimage.com/400x300/5fa9f8/ffffff" alt=""
              class="img-fluid">
          </div>
          <div class="col-xs-6 col-md-3 my-1">
            <img src=" https://dummyimage.com/400x300/5fa9f8/ffffff" alt=""
              class="img-fluid">
          </div>
          <div class="col-xs-6 col-md-3 my-1">
            <img src=" https://dummyimage.com/400x300/5fa9f8/ffffff" alt=""
              class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    <section class="pt-3 pb-3">
      <div class="container">
        <div class="row row-grid">
          <div class="col-xs-6 col-md-3 my-1">
            <img src=" https://dummyimage.com/400x300/5fa9f8/ffffff" alt=""
              class="img-fluid">
          </div>
          <div class="col-xs-6 col-md-3 my-1">
            <img src=" https://dummyimage.com/400x300/5fa9f8/ffffff" alt=""
              class="img-fluid">
          </div>
          <div class="col-xs-6 col-md-3 my-1">
            <img src=" https://dummyimage.com/400x300/5fa9f8/ffffff" alt=""
              class="img-fluid">
          </div>
          <div class="col-xs-6 col-md-3 my-1">
            <img src=" https://dummyimage.com/400x300/5fa9f8/ffffff" alt=""
              class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-popRpmFF9JQgExhfw5tZT4I9/CI5e2QcuUZPOVXb1m7qUmeR2b50u+YFEYe1wgzy"
      crossorigin="anonymous">
      </script> --}}



<div class = 'logo-div'>
    <img id='logo' src='/images/logoario.png' alt='travelly-logo'>
    
</div>

<div class = 'catch-phrase' >
    <h3 >Don't put off until tomorrow, what you can plan today.</h3>
</div>

<div class = 'main-header'>
    
    <div class = 'features'>
        <img class = 'icon' src='/images/pin-logo.svg'>
        <p>Pin your favorite location.</p>
    </div>

    <div class = 'features'>
        <img class = 'icon' src='/images/search-logo.svg'>
        <p>Search for anything, anywhere.</p>
    </div>

    <div class = 'features'>
        <img class = 'icon' src='/images/plan-logo.svg'>
        <p>Plan your trip to each detail.</p>
    </div>
</div>


<div class = 'start-button'>
    <button class='start-planning-button'><a href='/auth'>Start Planning</a></button>
</div>
<hr class = 'break-line'>


<div class='location-ball'>
    <div id = 'europe'>
         <p ><a class = 'countries' href='/auth'>Europe</a></p>
    </div>
    <div id = 'asia'>
         <p ><a class = 'countries' href='/auth'>Asia</a></p>
    </div>
    <div id = 'africa'>
         <p ><a class = 'countries' href='/auth'>Africa</a></p>
    </div>

    <div id = 'namerica'>
         <p ><a class = 'countries' href='/auth'>North America</a></p>
    </div>
    <div id = 'samerica'>
         <p ><a class = 'countries' href='/auth'>South America</a></p>
    </div>
    <div id = 'australia'>
         <p ><a class = 'countries' href='/auth'>Australia</a></p>
    </div>    
</div>