<section class="pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <h1> Hey, {{name}}.</h1> 
        <h1>Welcome to your trip plan.</h1>
      </div>
    </div>
  </div>
</section>

<div>

  {{!-- {{#each attractionName}} --}}
    <div>
      <p>{{attractionName}}</p>
    </div>
  {{!-- {{/each}} --}}

</div>

  <div class='add-button'>  
    <img  src = '/images/add-icon.svg' <button class="open-button" onclick="openForm()"></button>
  </div>
    <div class="form-popup" id="myForm">
      <form method="POST" action="/profile" class="form-container">
        <h5>My New Trip:</h5>

        <label ><b>Destination:</b></label>
        <input type="text" placeholder="Enter city or country" name="destination" required>

        <label ><b>Start:</b></label>
        <input type="date" placeholder="dates" name="calendar" required>

        <label ><b>End:</b></label>
        <input type="date" placeholder="dates" name="calendar" required>

        <button type="submit" class="btn">Add</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
      </form>
    </div>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>