{{!-- <img src='/images/logoario.png' alt='travelly-logo'> --}}
<h2>Hey, {{name}}</h2>
<h4>Where are we flying today?</h4>

<div>
  <div>
    <p>{{joana}}</p>
  </div>

   <div>
      <p>{{randomCities}}</p>   
  </div>

   <div>
    <p>{{randomCities}}</p>
  </div>

</div>
 

<form class="example" method='POST' action="/mytrips">
  <input type="text" name = 'city' placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
