<p>Teste</p>

 <p>{{joana}}</p>

<form class="example" method='POST' action="/mytrips">
  <input type="text" name = 'city' placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
