<p>Teste</p>
<p>
{{#each joana}}
  <li>Country: {{this.name}}</li>
    <ul>
      <li>City: </li>
      <ul>
      {{#each this.states}}
         <li>{{this.name}}</li>
      {{/each}}
      </ul>
    </ul>
{{/each}}
</p>


