body {
  /* padding: 50px; */
  font-family: 'Montserrat', sans-serif;
  background-color: #E1ECF7;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#logo {
  width: 150px;
}
.main-header {
  background: url('/images/background-image.jpg') center no-repeat;
  height: 25%;
}