body {
  font: 14px 'Montserrat', sans-serif;
  background-color: #E1ECF7;
  font-weight: bolder;
}

p {
  color: black;
  font-weight: bolder;
  font-size: 12px;
}

h1, h2, h3, h4, h5, span {
  color: 15px;
  font-weight: bolder;
}

footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
}



nav{
  top:0;
}

.py-5 {
  padding-top: 0!important; 
  padding-bottom: 0!important; 
}

.pb-5 {
   padding-bottom: 0!important;
}

.btn-primary{
  background-color: #023047;
  border-color: #023047;
}

.nav-link{
  color:#E1ECF7;
}

.intrologo{
  height: 200px;
  width: 250px;
}

.card{
  height: 100px;
}
/* h3 {
  display: flex;
  justify-content: center;
  color: #E1ECF7;
  font-weight: bolder;
} */
