<h2>Hey, {{username}}</h2>
<hr>
<h3>Here you can edit your profile.</h3>

<div>
   <form method='POST' action='/profile/edit'>

    <div>
      <label>Change your email </label>
      <input name='email' type='email' placeholder='Enter your email'>    //revise targeting model content
    </div>

    <div>
      <label>Change password </label>
      <p>Repeat old:</p>
      <input name='password' type='number' placeholder="Enter current password"> //revise targeting model content
    </div>

    <div>
      <label>Change password </label>
      <p>Create new:</p>
      <input name='password' type='number' placeholder="Enter new password"> //revise targeting model content
    </div>

    <button type='submit'>Save changes</button>

    </form>

</div>

<div >
    <label >Profile Photo:</label>
                
    <input id="image" type="file" name="profile_photo" placeholder="Photo" required="" capture>
</div>