<div class= 'page-salutation'></div>
  <h2>Hey, {{name}}.</h2>

  <h4>Here you can edit your profile.</h4>
</div>

<div>
   <form method='POST' action='/profile/edit'>

    <div>
      <label>Change your email </label>
      <input name='email' type='email' placeholder='Enter your email'>    
    </div>

    <div>
      <label>Change password </label>
      <p>Repeat old:</p>
      <input name='password' type='number' placeholder="Enter current password"> 
    </div>

    <div>
      <label>Change password </label>
      <p>Create new:</p>
      <input name='password' type='number' placeholder="Enter new password"> 
    </div>

    <button type='submit'>Save changes</button>

    </form>

</div>

<div >
    <label >Profile Photo:</label>
                
    <input id="image" type="file" name="profile_photo" placeholder="Photo" required="" capture>
</div>