

    <section class="pt-5 pb-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-7">
            <h3 class="mb-2 display-5 fw-bold">Planning links</h3>
            <p class="lead">Websites that will help you to plan your trip</p>
            <ul class="list-features">
              <li><a class="links" href="https://www.skyscanner.pt/">Flight tickets</a></li>
              <li><a class="links" href="https://www.booking.com/">Booking - Accomodation</a></li>
              <li><a class="links" href="https://www.airbnb.pt/">Airbnb - Accomodation</a></li>
              <li><a class="links" href="https://www.hopper.com/">Flight tickets (installments payment)</a></li>
              <li><a class="links" href="https://www.edreams.com/">Flight tickets + Hotel + Car</a></li>
              <li><a class="links" href="https://www.hostelworld.com/">Hostels</a></li>
              <li><a class="links" href="https://www.yescapa.com/">RV's</a></li>
            </ul>
          </div>  
        </div>
      </div>
    </section>
    <section class="pt-5 pb-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-7">
            <h3 class="mb-2 display-5 fw-bold">To do's links</h3>
            <p class="lead">...more of them...</p>
            <ul class="list-features">
              <li><a class="links" href="https://www.tripadvisor.com/">General local guidance</a></li>
              <li><a class="links" href="https://www.getyourguide.com/">Tickets for the main attractions</a></li>
              <li><a class="links" href="https://www.interrail.eu/en">For EU Interrailing</a></li>
              <li><a class="links" href="https://www.yelp.co.uk/">Local tips</a></li>
              <li><a class="links" href="https://www.thefork.com/">Food</a></li>
              <li><a class="links" href="https://www.cruises.com/">Cruises</a></li>
              <li><a class="links" href="https://www.zomato.com/">More food</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
